body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3498db; /* Set the background color to a shade of blue */
  color: #fff; /* Set the text color to white */
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #14364d; /* Use the same blue color for the heading */
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;

}

label {
  margin-bottom: 8px;
  color: #333; /* Set label text color to a dark gray */
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc; /* Add a border to the input fields */
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Add this style for the message */
.message {
  color: #2ecc71; /* Green color for success messages */
  margin-bottom: 16px;
}
